:root {
  --dark-blue: #202733;
  --neon-green: #53ffaa;
  --light-cyan: #cee3e9;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--dark-blue);
}

h1 {
  color: var(--neon-green);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

h2 {
  color: var(--light-cyan);
  font-size: 28px;
  font-weight: 800;
}
